<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name=author content="{{ AUTHOR }}">
    <link href="{{ SITEURL }}/theme/local.css" rel=stylesheet>
    <script>function script(src) {
        var d = document, s = d.createElement('script');
        s.async = true; s.src = src; d.body.appendChild(s);
    }</script>

<body>

<header class=top>
    <a class=brand href="{{ SITEURL }}">{{ SITENAME }}</a>
    <div style=float:right>
        {% for name, loc in MENUITEMS %}
        <a href="{{ SITEURL }}/{{ loc }}">{{ name }}</a>
        {% endfor %}
    </div>
</header>

<section>
    <article>
        {% block content %}{% endblock %}
    </article>
    <footer>
        <br>
        <p><a href="{{ SITEURL }}">{{ SITENAME }}</a> &copy; {{ AUTHOR }} 2013
        </p>
    </footer>
</section>
{% include "analytics.html" %}
