<div class=social-controls>

    {% if TWITTER_USERNAME %}
    <a href=http://twitter.com/share class=twitter-share-button
        data-count=horizontal data-via="{{ TWITTER_USERNAME }}">Tweet</a>
    <script>script('//platform.twitter.com/widgets.js')</script>
    {% endif %}

    {% if article.reddit %}<div class=reddit-btn></div>{% endif %}

    {% if article.flattr %}
    <a href id=flattr-btn class=FlattrButton title="{{ article.title }}" lang=en
        data-flattr-uid=sharat87 data-flattr-category=text
        data-flattr-button=compact data-flattr-tags=python,programming,tutorial>
        {{ article.summary | striptags }}</a>
    <script>
        document.getElementById('flattr-btn').href = window.location;
        script('//api.flattr.com/js/0.6/load.js?' +
            'mode=auto&uid=gargamel&language=sv_SE&category=text');
    </script>
    {% endif %}

</div>
